/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}

p {
  border: 1px solid black;
  background-color: #A52A2A;
  width: 20%;
  height: 20px;
  margin-right: 0px;
  margin-top: 0px;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  position : relative;
  right:1px
  top:1px;
}
}

#p1 {
  background-color: #80ffd4
}

#p2 {
  background-color: #ff66cc
}

#p3 {
  background-color: #39e600
}

div>div>div{
  padding :5px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;;
}

/********** Large devices only **********/
@media (min-width: 992px) {
   .col-lg-4 {
    width : calc(33.33% - 20px) ;
    box-sizing: border-box;
    margin : 10px;
    float: left;
    border: 1px solid black;
    background-color: #808080;
  }
    
  }
  
  

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   
   .col-md-6-1{
    width: calc(50% - 20px);
    box-sizing: border-box;
    margin :10px;
    float: left;
    border: 1px solid black;
    background-color: #808080;
  }

    .col-md-6-2{
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin :10px;
    float: left;
    border: 1px solid black;
    background-color: #808080;
  }

  
}

@media (max-width : 767px){
  .col-sm-12{
    width:calc(100% - 20px);
    box-sizing: border-box;
    margin :10px;
    float:left;
    border:1px solid black;
    background-color: #808080;

  }
}
