/**HEADER**/
/**
#header-nav{
	padding-bottom:3.5px;
	border-radius: 0;
	border: 0;
	height:95px;
	background-color: #ffffff;
	z-index: 1;
}
**/
#logo-img{
	background: url('../images/RR_White.png') no-repeat;
	left-margin:200%;
	width: 80px;
	height:80px;
	text-align: center;
}
/**
.navbar-brand{
	padding-top: 0;
}

.navbar-brand h1{
	margin-left:5px;
	margin-right:30px;

}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

.navbar-header div{
	vertical-align: middle;
}


#nav-list{
	/**width:150px;
	margin-top: 80px;
	background-color: #ffffff;
	float:left;

	
}

#p1{
	background: url('../images/RR_logo.png') no-repeat;
}**/

#center{
	text-align: center;
	padding-bottom: 50px;
	color: grey;
}

a {
    color: grey;
    text-decoration: none;
    font-size: 300%
}


a:focus, a:hover {
    color: black;
    text-decoration: none;
}

#footer{
	margin :50px;
	color: gray;
}


.socials{
	margin: 40px;
}


/*HOME PAGE*/

.home-text{
	margin:40px;
}

#homeheading{
	margin :40px;
	font-size : 4em;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) and (min-width: 650px){
	a{
		font-size : 200%;
	}

}

@media (max-width: 649px) and (min-width: 350px){
	a{
		font-size : 125%;
	}

	.disappear{
		font-size: 0;
	}

	#homeheading{
		font-size : 2em;
	}
}

@media (max-width: 349px) and (min-width: 0){
	a{
		font-size : 80%;
	}

	.disappear{
		font-size: 0;
	}

	#homeheading{
		font-size : 1.5em;
	}
}



