body {
  font-size: 100px;
  font-color : solid black;
  background-color: #fff;
  font-family: 'Helvetica', sans-serif;
}

#header-nav {
  background-color: #808080;
  border-radius: 0;
  border: 0;
 /* height : 100px;*/
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand span { /* Restaurant name */
  font-family: 'Helvetica', serif;
  color: #1a0f00;
  font-size: 4em;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #001a1a;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a {
  font-size: 0.4em;
}




@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }
  .navbar-brand p { 
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { 
    height: 20px;
  }

  #nav-list a {

    font-size: 0.3em;
  }
  /*#collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }*/

  /*#call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;*/
  }
}